DATABASE_URL="postgresql://avelando:asdfo2034o32@localhost:5432/colorhunt"

POSTGRES_USER=avelando
POSTGRES_PASSWORD=asdfo2034o32
POSTGRES_DB=colorhunt

CLOUDINARY_CLOUD_NAME=dyij9opy3
CLOUDINARY_API_KEY=962822692338779
CLOUDINARY_API_SECRET=GxrMkIHYqWXpWeRMPcBhJRSaZ1I
CLOUDINARY_UPLOAD_PRESET=colorhunt
PROFILE_UPLOAD_PRESET=profile

JWT_SECRET=3d9f!3k29*asdfo2034o32$8d@random

PORT=3000